<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>RESTFettemama</display-name>
    <servlet>
        <servlet-name>RESTFettemama</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>de.fefe.ifettemama.web</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTFettemama</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>